*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 50px 80px 30px 30px 40px;
    gap: 10px;
    grid-template-areas: 
    "header header header header header"
    "naviga naviga naviga naviga naviga"
    "main main main main main"
    "section side side side side"
    "sibar side side side side"
    "footer footer footer footer footer";

}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    grid-area: header;
    background-color: #2c3e50;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    grid-area: footer;
    background-color: #2c3e50;
}
.naviga{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fff;
    background-color: #5d6d7e;
    grid-area: naviga;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #eaeded;
    grid-area: main;
}
.section{
    background-color: #e5e8e8;
    padding: 5px;
    grid-area: section;
}
.sibar{
    background-color: #e5e8e8;
    padding: 5px;
    grid-area: sibar;
}
.side{
    grid-area: side;
    padding: 5px;
    background-color: #e5e8e8;
}